[submodule "vendor/libxml2"]
	path = vendor/libxml2
	url = https://github.com/GNOME/libxml2.git
[submodule "vendor/libxslt"]
	path = vendor/libxslt
	url = https://github.com/GNOME/libxslt.git
[submodule "vendor/jq"]
	path = vendor/jq
	url = https://github.com/jqlang/jq.git
[submodule "vendor/boon"]
	path = vendor/boon
	url = https://github.com/santhosh-tekuri/boon.git
[submodule "vendor/language-4dm-nova"]
	path = vendor/language-4dm-nova
	url = https://github.com/miyako/language-4dm-nova.git
	ignore = dirty
[submodule "vendor/4d-language-classic"]
	path = vendor/4d-language-classic
	url = https://github.com/miyako/4d-language-classic.git
[submodule "vendor/4d-language-oop"]
	path = vendor/4d-language-oop
	url = https://github.com/miyako/4d-language-oop.git
[submodule "vendor/4d-catalog-diagram"]
	path = vendor/4d-catalog-diagram
	url = https://github.com/miyako/4d-catalog-diagram.git
