[submodule "vendor/libxml2"]
	path = vendor/libxml2
	url = https://github.com/GNOME/libxml2.git
[submodule "vendor/libxslt"]
	path = vendor/libxslt
	url = https://github.com/GNOME/libxslt.git
[submodule "vendor/jq"]
	path = vendor/jq
	url = https://github.com/jqlang/jq.git
